<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>196430139115-vk2hg5tn2ngfqlorl3qun45ajk6isvrf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.196430139115-vk2hg5tn2ngfqlorl3qun45ajk6isvrf</string>
	<key>API_KEY</key>
	<string>AIzaSyDE89rNoyn9JqEbcWpn1rdsJAvEYzWx55U</string>
	<key>GCM_SENDER_ID</key>
	<string>196430139115</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.CS125.Happy-Panda</string>
	<key>PROJECT_ID</key>
	<string>cs-125-project---happy-panda</string>
	<key>STORAGE_BUCKET</key>
	<string>cs-125-project---happy-panda.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:196430139115:ios:e87c9d566b864e77d638ae</string>
</dict>
</plist>